html,body{
	margin:0px;
	height: 100%;
}
/* SESSÃO DO HEADER*/
.header{
	height: 50px;
	background-color: #CECECE;	
}
/* SESSÃO DO HEADER*/
/* SESSÃO DO SECTION*/
.section{
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	min-height:84%;
}
article{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.article1 , .article2 , .article3{
	height:600px;width:600px;
	background: #DEDEDE;
	border-radius:10px;
	margin: 10px;
}
.article2 , .article3{
	display: none;
}
img{
	width: 400px;
	border-radius: 10px;
}
/* SESSÃO DO SECTION*/
/* SESSÃO DO FOOTER*/
.footer{
	background-color: #CECECE;
	display: flex;
	flex-flow: row;
	justify-content: center;
	position: relative;
	bottom:0;margin:0;
	width: 100%;
}
.logo-footer{
	width:60px;height:60px;
	padding:10px 10px 10px 10px;
}
/* SESSÃO DO FOOTER*/