html,body{
	margin:0px;
	height: 100%;
}
/* SESSÃO DO HEADER*/
.header{
	height: 50px;
	background-color: #CECECE;	
}
/* SESSÃO DO HEADER*/
/* SESSÃO DO SECTION*/
.section-main{
	display: none;
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	min-height:84%;
}
article{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.main{
	height:100%;width:700px;
	background: #DEDEDE;
	border-radius:10px;
	margin: 10px;
	text-align: center;
}
.article{
	display: none;
}
/* SESSÃO DO SECTION*/
/* SESSÃO DO FOOTER*/
.footer{
	background-color: #CECECE;
	display: flex;
	flex-flow: row;
	justify-content: center;
	position: relative;
	bottom:0;margin:0;
	width: 100%;
}
.logo-footer{
	width:60px;height:60px;
	padding:10px 10px 10px 10px;
}
/* SESSÃO DO FOOTER*/


/* IMAGES */
.img{
	width:500px;height: 300px;
	padding:20px 100px;
}
#menu-entrevista{
	width:300px;height: 300px;
	border-radius: 10px;
}

/* IMAGES */

/* FONTES */
h1{
	font-family: sofia;
	text-align: center;
}
hr {
    border-color: black;
    background-color: black;
    width: 600px;
}
input{
	font-family: 'Finger Paint';
	font-size: 80%;
}

/* FONTES */

/*			FORMULARIO			*/

/*			FORMULARIO			*/


/* ETC */
.voltar img{
	width: 60px;
	float: left;
	position: absolute;
	padding:10px ;
	top:10px;
	cursor: pointer;
}
/* ETC */